{% import "_includes/forms" as forms %}
{% block header %}
    <header class="pane-header so-visible">
        <h2 style="line-height: 34px">{{ title }}</h2>
    </header>
{% endblock %}

{% block body %}
    <div class="so-body " style="padding-top: 0">

        <form method="post" accept-charset="UTF-8" id="security-edit">


            {{ csrfInput() }}
            {{ actionInput('craft-bastion/base/save-security-settings') }}
            {{ hiddenInput('settingsType', 'settings_security_scanner' ) }}

            <div id="enabledTests-field" class="field" data-attribute="enabledTests">
                <div class="heading">
                    <label id="enabledTests-label" for="enabledTests">{{ 'Baseline Security Controls'|t('craft-bastion') }}</label>
                </div>
                <div id="enabledTests-instructions" class="instructions">
                    <p>{{ 'baselineSecurityControlsDescription'|t('craft-bastion') }}</p>
                </div>
            </div>
            {% for test,name in settings.additionalTests %}
                <div class="flex" style="margin-bottom: 5px">
                    {{ forms.lightswitch({
                        name: 'enabledTests['~test~']',
                        on: test in settings.enabledTests ,
                    }) }}
                    &nbsp;{{ name }}
                </div>
            {% endfor %}

        </form>
    </div>
    <div class="so-footer">
        <div class="so-notice"></div>
        <div class="flex-grow"></div>
        <div class="flex flex-nowrap">
            <button type="button" class="btn js-popup-close">{{ 'Cancel'|t('craft-bastion') }}</button>
            <button type="submit" class="btn submit" form="security-edit">{{ 'Save'|t('craft-bastion') }}</button>
        </div>
    </div>
{% endblock %}

