<p>Hey there,</p>
<p>This is a reminder from Bastion that the disk space on <b>{{ domain }}</b> has reached <b>{{ diskSpaceUsedPercentage }}%</b> usage.</p>
<p>Please review your disk usage and take action to free up space or increase storage capacity to prevent potential issues with your website.</p>
<p>Details:</p>
<p>Domain: {{ domain }}<br>
    Current disk usage: <b>{{ diskSpaceUsedPercentage }}%</b><br>
    Threshold: <b>{{ threshold }}%</b></p>

<p>You are receiving this email because the website {{ domain }} has the Bastion CraftCMS plugin installed and configured to send disk space usage reminders to your email address.</p>
<p>—</p>
<p>Bastion</p>
<p>Your CraftCMS Security Plugin.</p>
