<p>Hey there,</p>
<p>This is a reminder from Bastion that the domain <b>{{ domain }}</b> <b>will expire in 30 days</b> (on {{ expiryDate|date }}).</p>
<p>Please ensure the domain name is renewed before the expiry date to prevent website becoming unavailable.</p>
<p>Details:</p>
<p>Domain: {{ domain }}<br>
    Expiration date: <b>{{ expiryDate|date }}</b><br>
    Days remaining: <b>30</b></p>

<p>You are receiving this email because the website {{ domain }} has the Bastion CraftCMS plugin installed and configured to send domain expiry reminders to your email address.</p>
<p>—</p>
<p>Bastion</p>
<p>Your CraftCMS Security Plugin.</p>